<!DOCTYPE html>
<html>
  <head>
    <style>
      th {
        text-align:left
      }
    </style>
    <meta charset="utf-8">
    <title>List of recipes</title>
  </head>
  <body>
    <h1>Recipes</h1>
      <form action="{% url 'rbox:recipe-search' %}" method="get">
        {% csrf_token %}
        <label for="name">Name contains:</label>
          <input id="name" type="text" name="search_name">
        and <label for="ingr">ingredients contain:</label>
          <input id="ingr" type="text" name="search_ingredient">
        <br>
        <label for="taste">Taste rating:</label>
          <select id="taste" name="search_taste">
            <option value="">&nbsp.</option>
            <option value=0>None</option>
            <option value=1>*</option>
            <option value=2>**</option>
            <option value=3>***</option>
            <option value=4>****</option>
            <option value=5>*****</option>
          </select>
        and <label for="effort">Effort rating:</label>
          <select id="effort" name="search_effort">
            <option value="">&nbsp.</option>
            <option value=0>None</option>
            <option value=1>Very complex</option>
            <option value=2>Complex</option>
            <option value=3>Moderate</option>
            <option value=4>Easy</option>
            <option value=5>Very Easy</option>
          </select>
        and <label for="category">Category:</label>
          <select id="category" name="search_category">
            <option value="">&nbsp.</option>
            {% for c in category_list %}
              <option value="{{c.tag}}">{{c.tag}}</option>
            {% endfor %}
            </select>
        <br>
        <input type="submit" name="go_filter_receipes">
      </form>
      <p>Showing recipes containing {{ searchstring }}</p>
      <div id="container" style="width:100%">
        <div id="left" style="float:left; width:50%">
          <table>
            <col style="width:70%">
            <col style="width:15%">
            <col style="width:15%">
            <tr>
              <th>Name</th>
              <th>Taste</th>
              <th>Effort</th>
            </tr>
            {% for recipe in recipes_list.all %}
              <tr>
                <td>
                  <!-- resolves to /rbox/recipe/{{recipe.id}}/ -->
                  <a href="{% url 'rbox:recipe-in-detail' recipe.id %}" target="view_recipe" rel="noreferrer noopener">
                    {{recipe.name}}
                  </a>
                </td>
                <td>{{recipe.taste_stars}}</td>
                <td>{{recipe.effort_stars}}</td>
              </tr>
            {%endfor%}
          </table>
          <br><br>
          <div class="pagination">
            <span class="step-links">
              {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}

              <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>

              {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
            </span>
          </div>
        </div> <!-- end of left-hand side of view, the table with list of recipes -->
        <div id="right" style="float:right; width:50%">
          <iframe src="" name="view_recipe" height="500px" width="500px" Content-Security-Policy: frame-ancestors 'self'>
            <p>The browser does not support iframes</p>
          </iframe>
        </div> <!-- end of right-hand side of view, the iframe with recipe -->
      </div>
    </body>
  </html>
